<ion-header>
  <ion-navbar>
    <ion-title>
      details
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form id="formGroup" [formGroup]="formGroup" (ngSubmit)="submit()" *ngIf="formGroup">

    <ion-item no-lines>
      <ion-avatar item-start>
        <img tappable (click)="pickImage()" [src]="formGroup.controls.picture.value">
      </ion-avatar>
    </ion-item>

    <ion-item no-lines>
      <ion-label floating>{{ 'PAGES.DETAILS.FIRSTNAME' | translate }}</ion-label>
      <ion-input type="text" formControlName="first_name"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label floating>{{ 'PAGES.DETAILS.LASTNAME' | translate }}</ion-label>
      <ion-input type="text" formControlName="last_name"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label floating>{{ 'PAGES.DETAILS.DESCRIPTION' | translate }}</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label floating>{{ 'PAGES.DETAILS.EMAIL' | translate }}</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <mv-address formControlName="address"></mv-address>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="formGroup" style="text-align: center;">
    <button ion-button type="submit" form="formGroup" full [disabled]="!formGroup.valid && saving" block>{{ 'BUTTONS.SAVE' | translate }}</button>
  </ion-toolbar>
</ion-footer>